*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body {
  background-color:#111111;
  color: white;
  

}

#one{
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button{
    text-decoration: none;
    border: 1px solid black;
}

.nav{
    position: fixed;
    top: 0;
    width: 87%;
    height: 60px;
    z-index: 9999;
    background-color: #111111;
}
.cursor_logo{
    height: 35px;
    width: 80px;
    align-self: center;
    /* align-self: start; */
    /* margin-top: 35px; */


}

header{
     margin-left: 100px;
    margin-right: 100px; 
    /* margin: 100px; */
    
    
}



.nav-inner{
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto */
    
}

.nav-middle{
    display: flex;
    padding: 20px;
    gap: 25px;
    
}

.nav-right{
    display: flex;
    /* padding: 4px; */
    gap: 10px;
    /* width: 210px; */
    justify-content: space-around;
    /* padding-top: 0px; */
    /* width: 150px; */
    align-items: center;
}

a{
    color: rgb(247, 240, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size:large
}

button{

    border-radius: 20px;
    /* justify-content: space-around; */
    height: 50%;
    padding-left: 5px;
    padding-right: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    text-decoration: none;

    padding-bottom: 2px;
    cursor: pointer;

}


.macOS{
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}


.hero-text{
    /* border: 3px solid red; */
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bolder;
    /* font-style: oblique; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image{
    width: 85%;
    /* height: auto; */
    margin-top: 100px;
    margin-left: 100px ;
    margin-right: 100px ;
    justify-self: center;

}

img{
    width: 100%;
    height: auto;
}


.hero-bottom-text-img{
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: start;
    width: 1000px;
    margin-left: 130px;
    margin-right: 130px;
    
    
}
.hero-bottom-img{
    margin-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    gap: 7px;
    margin-left: 107px;
    /* margin-right: 120px; */
    justify-self: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-right: 107px;
    margin-top: 40px;
    
}
.img_size{
    width: 11%;
    height: auto;

}
.hero-bottom-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-self: center;
    margin: 20px;
}

.second_section{
    /* border: 1px solid red; */
    margin-top: 30px;
    /* display: flex; */
    background-color: #111111;
}

.one_shelding{
    /* border: 1px solid red; */
    /* display: flex; */
    background-color: #111111;
    justify-content: space-between;
    cursor: pointer;
    
}

.for_padding{
    margin-top:5px ;
    margin-left: 100px;
    margin-right: 100px;
}

.section_two_review{
    width: 32%;
    height: auto;
    /* margin:px; */
    display: flex;
}
.for_image_review_section_two_one{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
}
.for_image_review_section_two_two{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    margin-top: 3px;

}

.for_image_review_section_two{
    /* display: flex; */
    /* border: 1px solid red; */
    margin-left: 115px;
    margin-right: 115px;
    
    
}

.for_text_section_two{
    justify-self: center;

    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bolder;
    font-size: xx-large;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}


.Second_section_use_model{
    margin-top: 75px;
    margin-left: 115px;
    margin-right: 115px;
        /* border: 2px solid red; */

}

.Second_section_use_model_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding-bottom: 8px;
        /* border: 2px solid red; */
    
}


.Second_section_use_model_image{
    display: flex;
    margin-top: 10px;
    /* border: 2px solid red; */
    
}

.Second_section_use_model_image_indul{
    width: 33%;
    height: 60%;
}

.section_image_section_one{
    width: 30%;
    height: 58%;
    
}

.second_section_third_time{
    /* border: 1px solid red; */
    margin-left: 120px;
    margin-right: 120px;
    /* margin: px; */
    justify-content: space-between;
    margin-top: 130px;
    
}

.second_section_third_time_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    /* border: 1px solid red; */
    padding-bottom: 20px;
    
}

.second_section_third_time_img{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    gap: 9.5px;

    
}

.second_section_third_time_red_text{
    /* border: 1px solid red; */
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: smaller;
    cursor: pointer;
    margin-top: 12px;

    
}
.for_second_section_third_time_img_cursor{
    cursor: pointer;
    /* margin-left: px; */
    width: 24.4%;
    height: auto;
}


.second_section_third_time_image_cool{
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 100px;
}

.second_section_third_time_image_cool_img{
    width: 100%;
    height: auto;
    cursor: pointer;
}


.section_section_two_point_version_{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    /* border: 1px solid red; */
    justify-content:space-between
    

}

.section_section_two_point_version_text{
    font-size: small;
    
    /* padding-top: 10px; */
    /* border: 2px solid red; */

 
    
}
.section_section_two_point_version_head_of_img{
    
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-self: center;
    margin-left: 140px;
    margin-right: auto;
    
}

.section_section_two_point_version_img{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */

}



.section_section_two_point_version_red_text{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: xx-smaller;
    /* justify-self: center; */
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 50px;
}


.forth_section_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: xx-large;
    
}


.forth_section{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    padding-top: 150px;
    padding-bottom: 150px;
    

    
  background-color: #0f0f0e;
  color: white;


    
}




.footer_section{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    list-style: none;
    background: linear-gradient(180deg, #11110f, #0b0b0a);
   
}

ul{
    list-style: none;
    padding-top: 10px;
}
li{
    padding-top: 5px;
    padding-bottom: 9px;
}


.footer_section_table{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* border: 1px solid red; */
    justify-content: space-around;
    list-style: none;
    
    
}

._nav_foot{
    margin-right: 50px;
    /* border: 1px solid red; */
    cursor: pointer;
}


.fifth_nav_foot{
    margin-right: 170px;
}

.one_nav_foot{
    margin-right:60px ;
}


.for_text_color{
    color: rgba(255, 255, 255, 0.6);

    cursor: pointer;

}

.footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #cfcfcf;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-btn {
  background: #1a1a1a;
  border: 1px solid #2a2a2a;
  color: #d0d0d0;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}


.lang {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #1a1a1a;
  border: 1px solid #2a2a2a;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}



.footer_top_most_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
     margin-right: 170px;
     margin-bottom: 5px;
}

